*{
    margin: 0px;
    padding: 0px;
}
div{
    height: 90px;
    background-color: black;
   
    
}
a{
text-decoration: none;
color: white;
padding-right:  190px;
}
#amozen{ 
    color: #f08804;
    font-size: 25px;

    
}
button{
    background-color: #f08804;
    color: white;
}

   
