*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    height: 90px;
background-color: black;

}
.a{
    height: 100px;
    width: 100px;
}
a{
    color: white;
    text-decoration: none;
    padding-right: 170px;
    
}
.yellow{
    color: rgb(170, 168, 37);
    font-size: 25px;
}
button{
  background-color: rgb(178, 178, 82);
  color: white;
}
    






   
