.circle{
    height: 150px;
    width: 150px;
   background: linear-gradient(#e66465, #9198e5);
    border-radius: 50%;
    margin: 0 auto;
   animation-name: anime;
    animation-duration: 900ms;
   animation-iteration-count: infinite;
    
}
@keyframes anime {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(70vh) rotate(360deg);
    }
    
}
.background{
     height: 90vh;
    width: 190px;
  border: 15px solid black;
  border-radius: 15%;
   
    margin: 0 auto;
 
}